POSTGRES_DB=realtime_chat
POSTGRES_USER=chat_user
POSTGRES_PASSWORD=chat_password

CLICKHOUSE_DB=realtime_chat_analytics
CLICKHOUSE_USER=analytics_user
CLICKHOUSE_PASSWORD=analytics_password

REDIS_HOST=localhost
REDIS_PORT=6379

KAFKA_BOOTSTRAP_SERVERS=localhost:29092

JWT_SECRET=change-this-secret-to-a-long-random-value-change-me
JWT_ACCESS_TOKEN_TTL_MINUTES=30
JWT_REFRESH_TOKEN_TTL_DAYS=7

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=hellomeomoc@gmail.com
MAIL_PASSWORD=your-google-app-password
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
MAIL_SMTP_STARTTLS_REQUIRED=true
MAIL_SMTP_SSL_PROTOCOLS=TLSv1.2
MAIL_FROM=hellomeomoc@gmail.com
FRONTEND_BASE_URL=http://localhost:5173
PASSWORD_RESET_TOKEN_TTL_MINUTES=15
